
# Playwright
node_modules/
.commandcode/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Generated artifacts
/allure-results/
/tta-report/
user-session.json
users-session.json
